include ../components/_index.pug
<!DOCTYPE html>
html(lang="en")
  +head('../', 'Blog | Dheeti Technologies', 'Dheeti Technologies provides expert guidance to growth-oriented businesses in the Industry 4.0 through consultation, training as well as software development.')

  body

    nav.nav
      .container
        .flex.align-items-center
          .flex-1
            a(href="../")
              img(src="../assets/img/dheeti-logo.svg", alt="dheeti logo")
          .flex-1.right
            ul
              li
                a(href="./") Blog

    main.blog

      header.blog-header
        .container
          h1.center Tips, trends and development hacks to make your software exceptional.

      section.blog-list
        .container
          .flex
            a.flex-1(href="../article/")
              img(src="../assets/img/Banner-_INVENTORY_COST_OF_UNRELEASED_SOFTWARE.jpg", alt="")
              h3 Inventory Cost of Unleashed Software
              p.blog-list--excerpt Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos nisi vitae saepe, ipsa pariatur, sed magni qui dolor tempore quisquam maxime. Dolor distinctio totam earum culpa vitae sunt aperiam consequuntur?
              p.blog-list--author Written by 
                span.bold Ruskin Joe
            a.flex-1(href="../article/")
              img(src="../assets/img/Banner-_IS_AGILE_NOT_WORKING_FOR_YOU_.jpg", alt="")
              h3 Inventory Cost of Unleashed Software
              p.blog-list--excerpt Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos nisi vitae saepe, ipsa pariatur, sed magni qui dolor tempore quisquam maxime. Dolor distinctio totam earum culpa vitae sunt aperiam consequuntur?
              p.blog-list--author Written by 
                span.bold Ruskin Joe
            a.flex-1(href="../article/")
              img(src="../assets/img/Banner-_KILLWORDS_IN_REQUIRMENETS.jpg", alt="")
              h3 Inventory Cost of Unleashed Software
              p.blog-list--excerpt Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos nisi vitae saepe, ipsa pariatur, sed magni qui dolor tempore quisquam maxime. Dolor distinctio totam earum culpa vitae sunt aperiam consequuntur?
              p.blog-list--author Written by 
                span.bold Ruskin Joe
            a.flex-1(href="../article/")
              img(src="../assets/img/Banner-INVERTING_THE_PYRAMID.jpg", alt="")
              h3 Inventory Cost of Unleashed Software
              p.blog-list--excerpt Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos nisi vitae saepe, ipsa pariatur, sed magni qui dolor tempore quisquam maxime. Dolor distinctio totam earum culpa vitae sunt aperiam consequuntur?
              p.blog-list--author Written by 
                span.bold Ruskin Joe
            a.flex-1(href="../article/")
              img(src="../assets/img/Banner-_INVENTORY_COST_OF_UNRELEASED_SOFTWARE.jpg", alt="")
              h3 Inventory Cost of Unleashed Software
              p.blog-list--excerpt Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos nisi vitae saepe, ipsa pariatur, sed magni qui dolor tempore quisquam maxime. Dolor distinctio totam earum culpa vitae sunt aperiam consequuntur?
              p.blog-list--author Written by 
                span.bold Ruskin Joe

    +footer('../')
