* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body, html {
  position: relative;
  min-height: 100%; }

body {
  color: #020203;
  font-family: 'Arimo', sans-serif;
  position: realtive; }

h1, h2, h3, h4, h5 {
  font-weight: 600; }

.container {
  width: 90%;
  margin: auto;
  max-width: 1440px; }

.btn {
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  cursor: pointer;
  box-shadow: none; }
  .btn--bold {
    font-weight: bold; }
  .btn--semi-bold {
    font-weight: 600; }
  .btn--md {
    font-size: 18px; }
  .btn--lg {
    font-size: 24px; }
  .btn--p-side-lg {
    padding-left: 40px;
    padding-right: 40px; }
  .btn--no-pad {
    padding: 0; }
  .btn--large-radius {
    border-radius: 60px; }
  .btn--upper {
    text-transform: uppercase; }
  .btn--sqr {
    border-radius: 0px; }
  .btn--bold {
    font-weight: bold; }
  .btn--block {
    display: block;
    width: 100%; }
  .btn--btn-60 {
    max-width: 60%;
    margin: auto; }
  .btn--l-marg {
    padding-left: 25px; }
  .btn--r-marg {
    padding-left: 25px; }
  .btn--side-pad {
    padding-left: 30px;
    padding-right: 30px; }
  .btn--text-center {
    text-align: center; }

.font--popins {
  font-family: 'Heebo', sans-serif; }
.font--bold {
  font-weight: bold; }
.font--m-500 {
  font-weight: 500; }
.font--m-600 {
  font-weight: 500; }
.font--light {
  font-weight: 300; }

.color--white {
  color: #fff !important; }

.ul-inline-block {
  padding: 0;
  margin: 0; }
  .ul-inline-block li {
    display: inline-block; }

.ul-flex-row {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row; }

.ul-flex-col {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: col; }

.psuedo-element-class {
  content: ' ';
  position: absolute;
  display: inline-block; }

.section {
  padding: 100px 0px; }
  .section .color-white {
    color: #fff; }
  .section .color-dark-grey {
    color: #222; }
  .section .color-purple {
    color: #917cb4; }
  .section--small-pad {
    padding: 40px 0px; }
  .section--medium-pad {
    padding: 60px 0px; }
  .section--large-pad {
    padding: 100px 0px; }
  .section--xlg-pad {
    padding: 120px 0px; }
  .section--no-pad {
    padding: 0px 0px; }
  .section--no-pad-top {
    padding-top: 0px; }
  .section--no-pad-btm {
    padding-bottom: 0px; }
  .section--purple-bg {
    color: #fff; }
  .section__heading {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    max-width: 80%; }
    .section__heading--sm {
      font-size: 2rem; }
    .section__heading--no-marg {
      margin: 0px; }
    .section__heading--no-tb-marg {
      margin-top: 0px;
      margin-bottom: 0px; }
    .section__heading--pad-lg {
      padding: 3rem 0; }
  .section--main-header {
    padding: 0; }
    .section--main-header .section__inner {
      display: flex;
      flex-direction: row; }

.info-section__desc {
  max-width: 720px;
  margin: auto;
  text-align: center; }
.info-section__img-wrap img {
  margin: auto;
  display: block; }
.info-section__heading {
  font-family: 'DM Serif Display', serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-weight: normal; }
  .info-section__heading--upper {
    text-transform: uppercase; }

.dark-panel,
.page-intro {
  width: 50%;
  padding: 4rem;
  min-height: 100vh;
  height: auto;
  color: #fff;
  position: relative; }

.dark-panel {
  background: #0f1e2d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.page-intro {
  background: #558aff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem; }
  .page-intro__heading {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 1rem; }
  .page-intro__social-head {
    padding-top: 2rem;
    margin-bottom: 1rem; }
  .page-intro__social-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    padding: 0px; }
    .page-intro__social-list li {
      display: block;
      font-size: 2rem;
      margin-right: 2rem; }
      .page-intro__social-list li:last-of-type {
        margin-right: 0px; }
      .page-intro__social-list li a {
        color: inherit;
        transition: all .2s ease-in; }
        .page-intro__social-list li a:hover {
          color: #0f1e2d;
          outline: none; }
  .page-intro__copyright {
    position: absolute;
    bottom: 2rem;
    color: #0f1e2d;
    max-width: calc(100% - 8rem);
    left: 4rem; }

@media (min-width: 1600px) {
  .page-intro {
    font-size: 1.75rem; }
    .page-intro__heading {
      font-size: 5rem; }
    .page-intro__social-list li {
      font-size: 3rem; } }
@media (max-width: 991.98px) {
  body {
    font-size: 1rem; }

  .section {
    padding: 4rem 0; }
    .section--main-header {
      padding: 0px; }
      .section--main-header .section__inner {
        flex-wrap: wrap; }

  .page-intro {
    padding: 2rem;
    font-size: 1.15rem; }
    .page-intro__heading {
      font-size: 2.75rem; }
    .page-intro__social-list li {
      font-size: 1.5rem; }
    .page-intro__copyright {
      width: calc(100% - 4rem);
      left: 2rem; } }
@media (max-width: 767.98px) {
  .section {
    padding: 4rem 0; }
    .section--main-header {
      padding: 0px; }
      .section--main-header .section__inner {
        flex-wrap: wrap; }

  .dark-panel,
  .page-intro {
    width: 100%;
    min-height: auto;
    height: auto; }

  .dark-panel {
    padding: 30px; }
    .dark-panel__logo {
      max-height: 60px; }

  .page-intro {
    min-height: calc(100vh - 90px);
    padding: 2rem;
    font-size: 1.15rem; }
    .page-intro__heading {
      font-size: 2rem; }
    .page-intro__social-list li {
      font-size: 1.5rem; }
    .page-intro__copyright {
      width: calc(100% - 4rem);
      left: 2rem; } }

/*# sourceMappingURL=style.css.map */
