$text-color: #020203;
// $text-color-dark-blue: #00476b;
$text-color-dark-blue: #034669;
$text-color-light-blue: #7acdcb;

$bg-color-bluish-green: #29aeab;
$bg-color-blue: #52bdd6;
$bg-color-yellow: #e5e357;
$bg-color-grey: #e7ecf0;
