$primary: #FF6600;
$dark-grey: #424242;
$off-black: rgba(0,0,0,0.85);

/* GLOBAL */

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

p {
  color: $off-black;
  font-size: 18px;
}

a {
  font-size: 18px;
  text-decoration: none;
}

h1, h2, h3 {
  color: $primary;
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
}

@media (max-width: 979px) {
  h1 {
    font-size: 3.2rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2.25rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
}

/* COMPONENETS */

.button {
  background-color: $primary;
  padding: 15px 40px;
  text-decoration: none;
  color: white;
  box-shadow: 0 5px 10px #00000040;

  &:hover, &:focus {
    background-color: darken($primary, $amount: 5%);
  }
}

.clearfix {
  clear: both;
}

/* NAVBAR */

.navbar {
  background-color: $dark-grey;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

.header-img {
  width: 90px;
  padding: 15px 0 10px 40px;
}

.menu-links {
  list-style-type: none;
  float: right;
  padding: 18px 30px 0 0;
}

.menu-link-item {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

.menu-link-item > a {
  color: white;
  text-decoration: none;

  &:hover, &:focus {
    color: $primary;
  }
}

@media (max-width: 480px) {
  .navbar {
    text-align: center;
  }
  .header-img {
    width: 90px;
    padding: 0;
    padding-top: 20px;
    margin: 0;
  }
  .menu-links {
    float: none;
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
  }
}

/* SECTIONS */

.section-one, .section-two {
  margin: 20px 50px;
  clear: both;

  @media (max-width: 979px) {
    margin: 20px 40px;
  }
  
  @media (max-width: 767px) {
    margin: 20px 25px;
  }
  
  @media (max-width: 480px) {
    margin: 20px 15px;
  }
}

.section-one {
  padding-top: 100px;

  @media (max-width: 480px) {
    padding-top: 150px;
  }

  &__left {
    float: left;
    width: 60%;
    text-align: center;

    @media (max-width: 767px) {
      float: none;
      width: 100%;
    }

    > img {
      width: 80%;
    }
  }

  &__right {
    float: right;
    width: 40%;
    text-align: right;
    padding-top: 100px;

    @media (max-width: 1200px) {
      padding-top: 50px;
    }
    
    @media (max-width: 979px) {
      padding-top: 0px;
    }
    
    @media (max-width: 767px) {
      padding-top: 0px;
      text-align: left;
      width: 95%;
      float: none;
    }
  }
}

.section-two {
  text-align: center;
  padding-top: 50px;
  width: 70%;
  margin: auto;

  @media (max-width: 979px) {
    width: 80%;
  }
  
  @media (max-width: 767px) {
    width: 90%;
  }
  
  @media (max-width: 480px) {
    width: 95%;
  }
  
  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item-left {
    float: left;
  }

  &__item-right {
    float: right;
  }

  &__item-left, &__item-right {
    flex: 35%;
    background-color: #eee;
    margin: 10px;
    padding: 50px 20px;

    &:hover, &:focus {
      background-color: #e1e1e1;
      cursor: pointer;
    }
  }

  &__item-content {
    padding: 0 70px;

    @media (max-width: 767px) {
      padding: 0 40px;
    }
    
    @media (max-width: 480px) {
      padding: 0 20px;
    }
  }
}