/* Colors */
$primary-color: #00C479;
$secondary-color-blue: #0086C1;
$secondary-color-yellow: #F4D916;
$grey-color-light: #EFEFEF;
$grey-color-dark: #353535;

/* Shadows */
$primary-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
