html {
  /*max-width: 1300px;*/
  /*margin: 0 auto;*/
}

html,body{
  position: relative;
}


.container{
  max-width: 1200px;
}

.main{
	background: #ffffff no-repeat center fixed;
	background-size: cover;
	height: 100vh;
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Inter', sans-serif;
	/*max-width: 1300px;*/
  	margin: 0 auto;

}

b{
	color: green;
}

a{
	color: green;
}

.topbar{
	background-color: green;
	color: #efefef;
	box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}

p{
  line-height: 1.4;
  /*font-size: 18px;*/
  font-size: 1.1rem;
  font-weight: 300;
}

h1{

	/*font-size: 42px;*/
  font-size: 2.8rem;
	font-weight: 400;
	line-height: 1.1;
	letter-spacing: -0.02em;

}

form-control{
	width:100%;

}

.image-bottom{
	position: fixed;
	left: 0px;
	width: 350px;
	bottom: 0px;
	z-index: -1;
	opacity: 0.4;

}

input {
    max-width: 100% !important;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.no-padding{
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.btn-sqr{
  border-radius: 0;
}

.btn-wrap .btn{
  width: 100%;
  border-radius: 0;
}

.form-wrapper .form-control{
  border-radius: 0;
}

.page-container{
  min-height: 100vh;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.brand-logo{
  max-width: 125px;
}

.last-9-footer-links{
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

.last-9-footer-links li{
  display: inline-block;
  font-size: 1rem;
  padding: 0 20px;
  position: relative;
  /*font-weight: bold;*/
}

.last-9-footer-links li a{
  color: #00bf84;
  text-decoration: none;
}

.last-9-footer-links li:after{
  content: ' ';
  display: block;
  position: absolute;
  height: 70%;
  left: 100%;
  top: 50%;
  background: #00bf84;
  width: 2px;
  transform: translate(0,-50%);
}

.last-9-footer-links li:first-of-type{
  padding-left: 0;
}

.last-9-footer-links li:last-of-type{
  padding-right: 0;
}

.last-9-footer-links li:last-of-type:after{
  display: none;
}

/*.page-content-wrap{
  padding: 100px 0;
}*/

@media (max-width: 991.98px)
{
  .image-bottom{
    display: none;
  }

  .page-container{
    padding: 50px;
  }
}

@media only screen and (min-width : 3000px) {
  .image-bottom{
    width: 800px;
  }
}

/* 2k devices */
@media only screen and (min-width : 2400px) {
  .page-content-inner{
    max-width: 100%;
    margin: auto;
  }

  .brand-logo{
    max-width: 200px;
  }

  h1{
    font-size: 4rem;
  }

  p{
    font-size: 2rem;
  }

  .form-wrapper .form-control,
  .form-wrapper .btn{
    font-size: 2rem;
  }

  .image-bottom{
    width: 600px;
  }

  .last-9-footer-links li{
    /*font-size: 24px;*/
    font-size: 1.5rem;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  h1{
    font-size: 2.5rem;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .last-9-footer-links li{
    padding: 0 10px;
  }
}