.top-header-nav-wrap{
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
}
.header-main-navbar{
  background: transparent;
  padding: 2rem 0;

  .navbar-brand img{
    width: 160px;
    filter: grayscale(100%) brightness(2);
  }
}

.header-main-info-section{
  align-items: center;
}

.header-main-content{
  justify-content: center;
  // align-items: center;
  
  &__main-heading{
    margin-bottom: 3rem;
    font-family: 'DM Serif Display', serif;
    position: relative;

    &:before{
      content: " ";
      background: #fff;
      position: absolute;
      height: 4px;
      width: 100px;
      display: block;
      top: -30px;
      left: 0;
      border-radius: 10px;
    }
  }

  &__main-desc{
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  &__btn-wrap{
  }
}

.green-curve-seperator{
  height: 236px;
  width: 100%;
  content: " ";
  background: url('../img/wave-green.svg') no-repeat transparent;
  background-size: 100% 100%;
  background-position: center center;
}

.what-you-learn-wrap{
  padding-top: 2rem;
}

.what-you-learn-list{
  margin: 0px;
  padding: 0px;
  padding-top: 2rem;
  // max-width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  li{
    display: block;
    background: #fff;
    width: 48%;
    padding: 4.6rem;
    border-radius: 18px;
    box-shadow: 0px 11px 26px #B2B2B23D;
    margin-bottom: 3.5rem;

    .icon{
      margin-bottom: 2rem;
      img{
        display: block;
        // margin: auto;
        height: 60px;
      }
    }

    .heading{
      text-align: left;
      margin-bottom: 1rem;

    }

    .desc{
      text-align: left;
      margin-bottom: 1rem;
    }

    .btn-wrap{
      text-align: left;
      .btn{
        color: #4E35E7;
        font-size: 1rem;
        font-weight: 600;
        display: inline-block;
        width: auto;
        flex-direction: row;
        align-items: center;
        outline: none;

        .arrow{
          display: inline-block;
          content: ' ';
          width: 75px;
          height: 2px;
          background: #4E35E7;
          margin-right: 10px;
          position:relative;
          top: -5px;
        }

        &:hover,
        &:focus{
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}

.ebook-form-external-wrap{
  padding: 0;
  box-shadow: 0px 11px 26px #B2B2B23D;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 6rem;

  .info-section__img-wrap{
    img.mobile{
      display: none;
    }
  }
}

.ebook-form-preview{

  &-wrap{

  }

  background: $bg-color-green;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  overflow: hidden;
  padding: 1rem;
}

.ebook-info{
  &-wrap{
    padding: 4rem;
    padding-left: 2rem;

    .mobile-btn-wrap{
      display: none;
      padding-top: 1rem;
      text-align: center;

      .btn{
        margin-bottom: .5rem;
        // min-width: 90%;
        &:last-of-type{
          margin-bottom: 0px;
        }
      }
    }

  }

  &__heading{
    font-family: 'DM Serif Display', serif;
    margin-bottom: 1.5rem;
  }

  &__desc{
    text-align: justify;
  }
}

.ebook-form{
  &-wrap{

  }

  &__desc{
    color: #66657A;
    font-size: 1rem;
    padding: 1rem 0;
  }

  .form-control{
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #66657A;
    border-radius: 4px;
    margin-bottom: 1rem;

    &:focus{
      outline: none;
      box-shadow: none;
    }
  }

  div.mce_inline_error{
    color: #721c24!important;
    background-color: #f8d7da!important;
    border-color: #f5c6cb!important;
    border-radius: 4px;
  }
}