@font-face {
  font-family: 'Heebo';
  src: local('Heebo-Regular'),
      url('../fonts/Heebo-Regular.woff2') format('woff2'),
      url('../fonts/Heebo-Regular.woff') format('woff'),
      url('../fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: local('Heebo Bold'), local('Heebo-Bold'),
      url('../fonts/Heebo-Bold.woff2') format('woff2'),
      url('../fonts/Heebo-Bold.woff') format('woff'),
      url('../fonts/Heebo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

