$black: #131313;
$darkgrey: #1c1c1c;
$primary: #ff8308;
$primaryhover: #d46627;
$f: #ffffff;

$ease-in: cubic-bezier(0.0, 0.0, 0.2, 1);
$ease-out: cubic-bezier(0.4, 0.0, 1, 1);

$shadow: 0 3px 10px rgba(0,0,0,0.2);
