span.highlight{
  color: $bg-color-blue;
}

.info{
  &-row{
    position: relative;
    min-height: 100%;

    h4{
      font-size: 1rem;
      font-weight: bold;
      color: $bg-color-blue;
      
      .black{
        color: $text-color;
      }
    }

    .img-offset{
      position: relative;
      left: -50%;
    }
  }

  &__col{
    padding-top: 5rem;
    // padding-bottom: 3rem;
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    &--blue{
      padding-top: 2rem;
      background: $bg-color-blue;
      // color: #fff;
      color: $text-color-dark-blue;
      font-weight: 600;

    }

    &--green{
      padding-top: 2rem;
      background: $bg-color-bluish-green;
      // color: #fff;
      color: $text-color-dark-blue;
      font-weight: 600;

    }

    img{
      filter: grayscale(100%);
    }

    &--flex{
      display: flex;
      flex-wrap: wrap;
    }

    .table{
      thead{
        td{
          background: #e5e357;
          border-color: #fff;
        }
      }
      td{
        background: #dee3eb;
        border-color: #fff;
      }
    }
  }

  &__main-heading{
    margin-bottom: 1rem;
    span{
      color: $text-color-dark-blue;
    }

    &--alt{
      background: $text-color-dark-blue;
      color: #fff;
      margin-left: -2rem;
      margin-right: -2rem;
      padding: 1rem 2rem;
      line-height: 1.1;
      position: relative;

      span{
        color: $bg-color-yellow;
      }

      &:after{
        content: ' ';
        display: block;
        position: absolute;
        right: -15px;
        top: 0;
        height: 100%;
        width: 40px;
        background: $text-color-dark-blue;
        transform: skewX(-10deg);
        display: none;
      }
    }

    &--blue-green{
      color: #57b5b0;
      span{
        color: #056182;
      }
    }

    &--xlg{
      font-size: 4rem;
    }

    &--align-bottom{
      align-self: end;
    }
  }

  &__sticky-heading{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #004668;
    font-size: 1.3rem;
    min-width: 200px;
    text-align: right;
    text-transform: uppercase;

  }

  &__page-count{
    position: absolute;
    bottom: 0rem;
    right: .5rem;
    font-size: 3rem;
    font-weight: bold;
    color: $bg-color-yellow;
    line-height: 1.1;
  }

  &__heading-dark-bg{
    font-size: 1rem;
    font-weight: b500;
    background: $bg-color-blue;
    padding: .5rem 1rem;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }


}

.page-indicators{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  margin-bottom: 2rem;

  li{
    content: " ";
    display: block;
    width: 25%;
    width: 50px!important;
    margin-left: 1rem;
    height: 0.4rem;
    background: #fff;

    &:first-of-type{
      margin-left: 0px;
    }

    &.active{
      background: $bg-color-yellow;
    }
  }

  &--blue{
    margin-bottom: 0px;
    li{
      background: $bg-color-blue;
    }
  }

  &--dark-blue{
    margin-bottom: 0.5rem;

    li{
      background: $text-color-dark-blue;
    }
  }
  
  &--static{
    justify-content: unset;

    li{
      margin-right: .5rem;
      &:last-of-type{
        margin-right: 0px;
      }
    }
  }

  &--1{
    li{
      width: 100%;
    }
  }

  &--2{
    li{
      width: 45%;
    }
  }

  &--3{
    li{
      width: 30%;
    }
  }

  &--4{
    li{
      width: 20%;
    }
  }

  &--5{
    li{
      width: 18%;
    }
  }

  &--6{
    li{
      width: 14%;
    }
  }
}

.user-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  justify-content: start;


  &__details{
    font-weight: 600;
    color: $bg-color-blue;
    // padding-right: .5rem;
    flex-grow: 1;
    // font-size: .9rem;
  }

  img{
    max-width: 80px;
    margin-right: 1rem;
  }

  &--highlight{
    flex-direction: row-reverse;
    align-items: center;

    .user-info__details{
      color: $text-color-dark-blue;
      // padding-left: .5rem;
    }
  }
}

.bold-list{
  margin: 0px;
  padding: 0px;

  li{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.idea-box{
  &__col{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  &__wrap{
    background: $text-color-dark-blue;
    color: #fff;
    border-radius: .5rem;
    position: relative;
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__img-wrap{
    position: absolute;
    max-width: 90px;
    left: -70px;
    bottom: 0;

    img{
      filter: none;
    }
  }

  &__list{
    margin: 0px;
    padding: 0px;
    list-style: none;

    li{
      margin-bottom: .5rem;
      font-size: .9rem;
      font-weight: normal;

      &:before{
        content: " ";  
        background: $bg-color-yellow;
        display: inline-block; 
        width: 8px; 
        height: 8px;
        margin-left: -1rem;
        margin-right: .5rem; 
        border-radius: 100%;
      }
    }
  }

  &--alt{
    .idea-box__wrap{
      background: $bg-color-yellow;
      color: $text-color-dark-blue;
    }

    .idea-box__list{
      li{
        &:before{
          background: $text-color-dark-blue;
        }
      }
    }
  }
}

.table-of-content{
  &__wrap{
    color: #055e7e;
    font-size: 1.1rem;

    a{
      text-decoration: none;
      color: inherit;
    }
  }

  &__heading{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__sub-list{
    li{
      display: block;
      text-decoration: none;
      width: 100%;
      position: relative;
      margin-bottom: .5rem;

      .page-no{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0,-50%);
      }
    }
  }
}

.img-colored{
  filter: none!important;
}

.team-member-pic-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;

  li{
    display: block;
    width: 33.3%;
    img{
      width: 100%;
      height: 100%;
      max-height: 120px;
      margin: auto;
      object-fit: cover;
    }
  }
}

.img-l-print{
  display:  none;
  visibility:   none;
}