span.highlight{
  color: $bg-color-blue;
}

.info{
  &-row{
    position: relative;

    h4{
      font-size: 1rem;
      font-weight: bold;
      color: $bg-color-blue;
      
      .black{
        color: $text-color;
      }
    }

    .img-offset{
      position: relative;
      left: -50%;
    }
  }

  &__col{
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    &--blue{
      padding-top: 2rem;
      background: $bg-color-blue;
      color: #fff;
    }
  }

  &__main-heading{
    margin-bottom: 1rem;
    span{
      color: $text-color-dark-blue;
    }

    &--alt{
      background: $text-color-dark-blue;
      color: #fff;
      margin-left: -2rem;
      margin-right: -2rem;
      padding: 1rem 2rem;
      line-height: 1.1;
      position: relative;

      span{
        color: $bg-color-yellow;
      }

      &:after{
        content: ' ';
        display: block;
        position: absolute;
        right: -15px;
        top: 0;
        height: 100%;
        width: 40px;
        background: $text-color-dark-blue;
        transform: skewX(-10deg);
      }
    }
  }

  &__sticky-heading{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #004668;
    font-size: 1.3rem;
  }

  &__page-count{
    position: absolute;
    bottom: 0rem;
    right: .5rem;
    font-size: 3rem;
    font-weight: bold;
    color: $bg-color-yellow;
    line-height: 1.1;
  }

  &__heading-dark-bg{
    font-size: 1rem;
    font-weight: b500;
    background: $bg-color-blue;
    padding: .5rem 1rem;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }


}

.page-indicators{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  margin-bottom: 2rem;

  li{
    content: " ";
    display: block;
    width: 18%;
    height: 5px;
    background: #fff;

    &.active{
      background: $bg-color-yellow;
    }
  }

  &--blue{
    margin-bottom: 0px;
    li{
      background: $bg-color-blue;
    }
  }

  &--dark-blue{
    margin-bottom: 0.5rem;

    li{
      background: $text-color-dark-blue;
    }
  }
  
  &--static{
    justify-content: unset;

    li{
      margin-right: .5rem;
      &:last-of-type{
        margin-right: 0px;
      }
    }
  }
}

.user-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  justify-content: start;


  &__details{
    font-weight: 600;
    color: $bg-color-blue;
    padding-right: .5rem;
    // font-size: .9rem;
  }

  img{
    max-width: 80px;
  }

  &--highlight{
    flex-direction: row-reverse;
    align-items: center;

    .user-info__details{
      color: $text-color-dark-blue;
      padding-left: .5rem;
    }
  }
}

.bold-list{
  margin: 0px;
  padding: 0px;

  li{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.idea-box{
  &__col{
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  &__wrap{
    background: $text-color-dark-blue;
    color: #fff;
    border-radius: .5rem;
    position: relative;
    padding: 2rem;
  }

  &__img-wrap{
    position: absolute;
    max-width: 90px;
    left: -70px;
    bottom: 0;
  }

  &__list{
    margin: 0px;
    padding: 0px;
    list-style: none;

    li{
      margin-bottom: .5rem;
      font-size: .9rem;
      font-weight: normal;

      &:before{
        content: " ";  
        background: $bg-color-yellow;
        display: inline-block; 
        width: 8px; 
        height: 8px;
        margin-left: -1rem;
        margin-right: .5rem; 
        border-radius: 100%;
      }
    }
  }

  &--alt{
    .idea-box__wrap{
      background: $bg-color-yellow;
      color: $text-color-dark-blue;
    }

    .idea-box__list{
      li{
        &:before{
          background: $text-color-dark-blue;
        }
      }
    }
  }
}